Screen {
    layout: grid;
    grid-size: 3;
}

#stages_panel {
    border: blue;
    height: 100%;
}

#levels_panel {
    border: blue;
    height: 100%;
}

#answers_panel {
    border: blue;
    height: 100%;
}

.lists {
    padding: 1;
}